body {
    background-color: hsl(330, 100%, 98%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 8px;
}
h1 {
    text-decoration: center;
   

}
h2 {
    color: hsl(14, 45%, 36%);
}
h3 {
    font-size: 16px;
}
.preparation{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: hsl(330, 100%, 98%);
    border-radius: 8px;
}
.ingredients {
    font-size: 16px;
}
